#explain-layout {
    height: 100%;
}

#content-box {
    height: 1fr
}

#plan-box {
    content-align: center middle;
}

#query-box, #query-plan-label {
    content-align: center middle;
    text-style: bold;
}

#query-str {
    content-align: center middle;
    text-style: italic;
}

#button-row {
    height: auto;
    align: center middle;
    background: $primary;
    padding: 1;
}

#back-btn {
    margin-right: 2;
    background: $secondary;
}

#export-btn {
    background: $foreground;
}
